* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.App {
  border: 1px solid red;
  height: 80vh;
  margin-top: 10vh;
}
.form-send-message {
  border: 1px solid springgreen;
  width: 100vw;
}
.center-items {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 1350px;
}

.form-button button {
  margin-left: -20px;
  width: 13vw;
}

.message-user-own {
  text-align: right;
}
.message-user-guest {
  text-align: left;
}
.message-text {
  background-color: teal;
  color: white;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}
.message-user {
  color: rgb(41, 68, 119);
  border-radius: 10px 0 0 10px;
  padding: 10px 20px 0 0;
  margin-bottom: -1px;
}
